<% include header %>

<div id="main-container" class="px-5 mt-5 justify-content-center row">

	<div class="left col-xxl-3 col-md-12 mb-md-5">
		<div class="col-6 wrap border border-secondary bg-white rounded-3 text-center mx-md-auto">
<% if (session.logined) { -%>
	
			<h3 class="mb-0 py-3"><%= session.user.uname %></h3>
			<div class="d-flex">
				<a href="#" class="userwrap-item shadow-none btn-secondary text-center py-3 text-decoration-none text-white col-6">마이페이지</a>
				<a href="/user/logout_process" class="userwrap-item shadow-none btn-secondary text-center py-3 text-decoration-none text-white col-6">로그아웃</a>
			</div>
<% } else { -%>
			<div class="d-flex">
				<a href="/user/login" class="userwrap-item shadow-none btn-secondary text-center py-3 text-decoration-none text-white col-6">로그인</a>
				<a href="/user/register" class="userwrap-item shadow-none btn-secondary text-center py-3 text-decoration-none text-white col-6">회원가입</a>
			</div>
<% } -%>
		</div>
	</div>

	<div class="center col-xxl-6 col-md-12">
		<h2>게시판</h2>
		<table class="table table-hover text-center fs-6">
			<thead>
				<tr class="fs-5">
					<td>글번호</td>
					<td>제목</td>
					<td>작성자</td>
					<td>조회수</td>
				</tr>
			</thead>
			<tbody>
<% for (var i = 0; i < boards.length; i++) { -%>
				<tr onclick="javascript:location.href = '/board/view?bid=<%= boards[i].bid %>'" class="pointer pt-3">
					<td></td>
					<td class="text-start"><%= boards[i].btitle %></td>
					<td><%= boards[i].uid %></td>
					<td><%= boards[i].bhit %></td>
				</tr>
<% } -%>
			</tbody>
		</table>
		<div class="row justify-content-end">
			<div class="col-12 d-flex justify-content-end">
				<a href="/board/write" class="btn btn-outline-secondary">글쓰기</a>
			</div>
		</div>
	</div>
</div>

<% include footer %>